@{
}


<section id="login">

<h1>Qatar 2022</h1>
    <section id="aux-login">
        <label for="txtNombre">Nombre</label>
        <input type="text" id="txtNombre"/>

        <label for="txtEmail">E-mail</label>
        <input type="text" id="txtEmail"/>

        <input type="submit" id="btnIngresar" value="Ingresar"/>
    </section>
    <p>No tienes cuenta?<a href="Home/Registro">Registrate!</a></p>
    <p>Mira las seleciones participantes<a href="Home/Tabla"> Aqui! </a></p>

</section>