<div class="alert alert-danger" role="alert">
    No tenes los permisos correspondiente
</div>

<div class="alert alert-primary" role="alert">
    <a href="#" onclick="history.go(-1)" class="alert-link">Ve atras</a>
</div>