
@using Dominio;
@model List<Seleccion>;




<h1>Selecciones</h1>



@foreach(Seleccion s in Model)
{

        <h2>@s.Pais.Nombre</h2>
        string jugadores = "Jugadores ";
        foreach (Jugador j in s.GetJugadores()){
            jugadores += " " + j.Nombre + " ";
        }
        <p>@jugadores</p>
}

