@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Dominio
@model List<Periodista>


@if(Model != null && Model.Count > 0)
{
    foreach (Periodista periodista in Model)
    {        
        <div class="alert alert-primary" role="alert">
           <p>@periodista.Nombre , @periodista.Apellido</p> 
           <a href="~/Operador/ResenaId/@periodista.Id" >Mira Sus reseñas</a>.
        </div>
    }
}